
<div class="loginregister">
<nav class="navbar text-center" style="margin-bottom: 0px">
	<div class="container-fluid">
		<div class="navbar-header"></div>

		<div class="text-center text-white text-size-40" style="margin-left: -90px;">
    		<img src="/stylesheets/eBay.png" class="ebay-image">
   		</div>
   </div>

   </nav>
	<div class="container-fluid text-center">
  	<div class="row">
   <div class="col-md-4"></div>
   <div class="col-md-4">
    <div  class="navBorder">
     <ul class="nav nav-tabs navColor">
      <li class=" tabs-style active width-50 "><a data-toggle="tab" href="#signin"><span class="glyphicon glyphicon-circle-arrow-right arrow" aria-hidden="true"></span>Sign in</a></li>
      <li class=" tabs-style width-50" ><a data-toggle="tab" href="#register">
      <span class="glyphicon glyphicon-plus-sign arrow" aria-hidden="true"></span>Register</a></li>
     </ul>

     	<div class="tab-content">
      		
      		<div id="signin" class="signin tab-pane fade in active">
       			<div>

       			 <form class="form-horizontal">
             <div class="loginerror" align="left" ng-show="error1">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{msg2}}
             </div>
        		 <div class="col-sm-12 box">
        			 <input type="email" id="username" name="inputUsername" ng-model="inputUsername"  placeholder="Email" class="form-control" required>
        		 </div>
         		<div class="col-sm-12 box">
         			<input type="password" id="password" name="inputPassword" placeholder="Password" ng-model="inputPassword" class="form-control" required>
        		 </div>
				<div class="col-sm-12 box">
        		 <button type="submit" class="btn btn-primary custombutton" ng-model="submitsignin" ng-click="login()">Sign in</button>
        		 </div>
				</form>
				</div>
         	</div>

         	<div id="register" class="divregister tab-pane fade">
         	<div>

         	<form class="form-horizontal">
           <div class="loginerror" align="left" ng-show="error2">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{msg}}
             </div>

         	<div class="col-sm-12 box">
			<input type="email" class="form-control"  name="inputUsername" ng-model="inputUsername" placeholder="Email" required>
         	</div>

         	<div class="col-sm-12 box">
			<input type="password" class="form-control" name="inputPassword" ng-model="inputPassword" placeholder="Password" required pattern=".{8,}" title="Please enter 8 characters or more.">
         	</div>


         	 <div class="col-sm-12 box">
          <div class="col-sm-6 registernames">
         	 <input type="text" class="form-control" name="inputFirstName" ng-model="inputFirstName" placeholder="First Name" required>
         	 </div>
         	 <div class="col-sm-6 registernames">
         	 <input type="text" class="form-control" name="inputLastName" ng-model="inputLastName" placeholder="Last Name">
         	 </div>
         	 </div>
         	<div class="col-sm-12 box">
         	<button type="submit" class="btn btn-primary custombutton" ng-click="register()">Register</button>
        	 </div>
            <div class="regsucc" align="left" ng-show="registered">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{msg1}}
             </div>
        	 </form>

        	 </div>
        	 </div>

        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

