
<style>
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }
    
    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }
    
    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }
    
    
    
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
    
}
.customviewcartborder{
border: 1px solid #fff;
    box-sizing: border-box;
    margin-left: 0px;
    background-color: #32CD32

  
}
.pb15 {
    padding-bottom: 15px;
}
.headingcartsummary{
display: inline;
    line-height: 1;
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Verdana,Sans-serif;
}
.pt10 {
    padding-top: 10px;
}
.solidLine {
    background-color: transparent;
    border-top: 1px solid #777;
    color: transparent;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1px;
    float: left;
}
.totalsummary{
font-weight: bold;
font-size: 28px;

}
.totalcolor{
color: #333;
}
.checkoutbutton{
    margin: 15px 8px 17px 1px;
    padding: 0;
    border: 0;
    font-size: 150%;
}
.headercart{

	font-size: 28px;
    padding-left: 55px;
}

</style>
<div>
<img src="/stylesheets/eBay.png" class="ebay-image-buy">
 </div>
<h1 class="headercart"> Your eBay Selling History</h1>

<div class="container">
<div class="row">
<div class="col-sm-8 customviewcartborder">
		<table id="cart" class="table table-hover table-condensed">
		<thead>
						<tr>
							<th style="width:25%">Product</th>
							<th style="width:25%">Price</th>
							<th style="width:25%">Remaining Quantity</th>
							<th style="width:25%" class="text-center">Total Quantity</th>
							<th style="width:10%"></th>
						</tr>
		</thead>

		<tbody>
						<tr ng-repeat="i in solditems">
						<td data-th="Product">
						<div class="row">
						
						<div class="col-sm-12 " >
						<h4 class="nomargin" ng-model="itemname">{{i.itemname}}</h4>
						</div>
						</div>
						</td>
						<td data-th="Price" ng-model="price">{{i.itemprice | currency}}</td>
					<td data-th="Quantity">
					<div style="font-size:18px">
					<span class="available" style=" margin-left: 60;font-weight: bold">{{i.itemremqty}}</span>
					</div>
							</td>
							<td data-th="Purchase Date" style="font-size:18px; " ng-model="purchasedate" class="text-center">{{i.itemtotalqty}}</td>
							<td class="actions" data-th="">
							
						</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center" ng-model="totalprice" ><strong>{{totalstring}} {{totalprice | currency}}</strong></td>
						</tr>
					</tfoot>
				</table>
				</div>
				
				<div class="col-sm-4" style="padding-left: 100;">
				<a ui-sref="successLogin.wobid" class="btn btn-warning" style="color:white; font-weight: bold; background-color: black">Continue Shopping</a>
				</div>

				</div>
			
				
				
				
				</div >
				
				
		
