<style>
#cover {
    width: 100%;
    height: 270px;
    background: #f1f1f1;
    overflow: hidden;
    padding-left: 20px;
     padding-right: 20px;
}
.cover.bg
{
    width: 100%;
    height: 160px;
    opacity: .95;
    background: #fff;

}
#profile_Card{
    height: 160px;
    width: 950px;
    height: 159px;
    margin: -160px auto 50px;
    position: relative;
    box-shadow: 0 0 5px #CCC;
    background: white;
}
#image{
    position: absolute;
    height: 160px;
    width: 160px;
}
.editicon{
    background-color: #FFF;
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 #ccc;
    z-index: 10;
}
.editbutton{
        margin-top: 70px;
}
.profileform{
    
   
    width:30%; 
    margin-left: 450px;
    text-align: center
}
.customform1{

text-align: center!important;
font-size: 18px;
font-weight: 500;

}
.text-center{
    text-align: center;
    border-style: solid;
    border-width: 2px;
  
}
.customformdiv{

    background-color:#F5FFFA

}
</style>

<div id="cover">
<img src="stylesheets/wood.jpg">
<div id="profile_card">
<div class="row">
<div class="col-xs-2">
<div class="cover.bg">
<a ui-sref="successLogin.profile" class="thumbnail">
      <img src="stylesheets/avatar.jpg">
 </a>
 </div> 
 </div>
<div class="col-xs-2" >
    <div class="handlebar">
<span class="handlespan">{{userid}}</span>
</div>
<div class="editbutton">
<button type="submit" class="btn btn-primary " style="min-width: 120px" ng-click="updateProfile(firstname,lastname,userid,bday,contact,location)">Update Profile</button>
</div>
  </div>
</div>
</div>
</div>

<div class="row">
<body bgcolor="40,61,75">
<div class="col-xs-4 "></div>

<div class="col-xs-4 customformdiv">
<form>
  <div class="form-group customform1 ">
    <label for="fistname" ng-model="firstname" >First Name</label>
    <input type="firstname" value={{firstname}} class="form-control customform1 " ng-model="firstname" text-center" id="firstname">
  </div>
  <div class="form-group customform1">
    <label for="lastname" ng-model="lastname">Last Name</label>
    <input type="lastname" value={{lastname}} class="form-control customform1 " ng-model="lastname" text-center" id="lastname">
  </div>
  <div class="form-group customform1">
    <label for="userid" ng-model="userid">User Id</label>
    <input type="userid" value={{userid}} class="form-control customform1" ng-model="userid" text-center" id="userid">
  </div>
  <div class="form-group customform1">
    <label for="date" ng-model="bday">Birthday</label>
    <input type="text"  value={{bday}} class="form-control customform1" style="padding-left: 15;" ng-model="bday" text-center" id="date">
  </div>
  <div class="form-group customform1">
    <label for="contact" ng-model="contact">Contact</label>
    <input type="contact" value={{contact}} class="form-control customform1" ng-model="contact" text-center" id="contact">
  </div>
  <div class="form-group customform1">
    <label for="locn" ng-model="location">Location</label>
    <input type="locn" value={{location}} class="form-control customform1" ng-model="location" text-center" id="locn">
  </div>
 <div style="margin-left: 150px">
<button type="submit" class="btn btn-primary" ng-click="updateProfile(firstname,lastname,userid,bday,contact,location)">Update Profile</button>
</div>
</form>

</div>
<div class="col-xs-4"></div>
</body>
</div>