<div>
<img src="/stylesheets/eBay.png" class="ebay-image-buy">
 </div>

<div class="container" >
	   	<div >
			<h1>Shop With Us</h1>
		  </div>

  

  <div class="col-sm-12"> 
  <table id="cart" class="table table-hover table-condensed">
           
           <thead>
            <tr>
              <th style="width:20%">Product</th>
              <th style="width:35%">Description</th>
			  <th style="width:10%">Price($)</th>
			  <th style="width:10%">Availaible</th>
			  <th style="width:10%">Seller</th>
			  <th style="width:15%">Shipping From</th>
            </tr>
          </thead>

		    <tbody>
            <tr ng-repeat="i in items">
             <td data-th="Product" ng-model="itemname">
                <div class="row">
                  <div class="col-sm-12">
						<h4 class="nomargin">{{i.itemname}}</h4>
                  </div>
                </div>
              </td>
              <td data-th="Description" ng-model="description">
              <h4 class="nomargin">{{i.itemdescription}}</h4>
              </td>
              <td data-th="Price($)" ng-model="price">
              <h4 class="nomargin">{{i.itemprice | currency}}</h4>
              </td>
              <td data-th="Availaible" ng-model="qty">
              <h4 class="nomargin">{{i.itemqty}}</h4>
              </td>
              <td data-th="Seller" ng-model="seller">
              <h4 class="nomargin">{{i.itemseller}}</h4>
              </td>
              <td data-th="Shipping From" ng-model="shipfrom">
              <h4 class="nomargin">{{i.itemlocation}}</h4>
              </td>                    
              <td>
              <div  style="float:right" data-th="">
      		  <button class="btn btn-success btn-sm"
            ng-click="addtoCart(i.itemname,i.itemdescription,i.itemprice,i.itemqty,i.itemseller,i.itemlocation,i.itemid)" >Add to Cart</button> 
     		  </div> 
     		  </td>  
			</tbody>


	</table>

                

	</div>
  
</div>
