<style>
.totalsummary{
font-weight: bold;
font-size: 28px;

}
.totalcolor{
color: #333;
}
.profileform{
    
   
    width:30%; 
    margin-left: 450px;
    text-align: center
}
.customform1{

text-align: center;

}
.text-center{
    text-align: center;
    border-style: solid;
    border-width: 2px;
  
}
.customformdiv{

    background-color:#F5FFFA

}

</style>
<div>
<img src="/stylesheets/eBay.png" class="ebay-image-buy">
 </div>
<h3 class="headercart" style="margin-left: 50px;"> Pay with Credit Card</h3>

<div class="container">
<div class="row">
<div class="col-xs-6">
  

  <div ng-hide="paymenthide" class="form-group">
  <form style="width:50%">
   <input type="text" class="form-control" ng-model="card" placeholder="Enter Credit Card Number"/>
  <br>
  <br>
   <input type ="text" class="form-control" ng-model="expiry" placeholder="mm/yyyy">
   <br>
   <br>
   <input type ="text" class="form-control" ng-model="cvv" placeholder="3 digit secure code">
   <br>
   <br>
   <button  class="btn btn-primary" type="button"  ng-click="makePayment(card,expiry,cvv)">Make Payment</button>
    </form>
  </div>
  

  <div class="regsucc" align="left" ng-show="success">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{msg}}
  </div>
  <div class="regsucc" align="left" ng-show="failure">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{msg1}}
  </div>
  


  <div ng-show="continuebtn">
  <a ui-sref="successLogin.wobid" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
  </div>
  </div>
  

  <div class="col-xs-6 customviewcartborder" style="width: 32% ;margin-left:55px;margin-bottom:250px">
          <div class="pb15">
            <h2 class="headingcartsummary">Cart Summary</h2>
            <div aria-hidden="true" class="pt10">
            <hr class="solidline">
            </div>
        
          </div>
        <div class="totalsummary">
        <span class="totalcolor">{{totalstring}}</span>
        <span ng-model="totalprice" class="totalcolor">{{totalprice | currency}}</span>
        </div>
        
        
        
        
        </div >
  </div>
  </div>





 </html>