<html>
<head>
 <title>eBay</title>
 <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
   <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
  <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.js"></script>


<script src="dashboard.js"></script>
<script src="/login/loginController.js"></script>
<script src="/login/successLoginController.js"></script>
<script src="/login/logoutController.js"></script>
<script src="/dashboard/showitemsController.js"></script>
<script src="/dashboard/sellitemsController.js"></script>
<script src="/dashboard/viewcartController.js"></script>
<script src="/dashboard/checkoutController.js"></script>
<script src="/dashboard/biditemsController.js"></script>
<script src="/dashboard/profileController.js"></script>
<script src="/dashboard/ordercontroller.js"></script>
<script src="/dashboard/sellinghistorycontroller.js"></script>




</head>


<body ng-app="dashboard" class="homepagebody">

<div ui-view ></div>

</body>

</html>

