<html>
  <head>
    <title>eBay</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="login.js"></script>
	</head>
  <body ng-app="myApp" ng-controller="logRegister">
  <form " class="afterSignIn">
    <!-- This panel is for login -->
    
    <div class="panel panel-primary">
      <!-- Default panel contents -->
        <div class="panel-heading" text-align="left">eBay</div>
        <div class="panel-body">
           <form class="form-horizontal" role="form">
		               <div class="form-group  usernameDiv">
		                  <label class="inputUsername" class="col-sm-2 control-label pull-left">Welcome to eBay</label>
		                  <div class="col-sm-10">
		                  </div>
		               </div>
	                  </div>
	                  
	                  <div class="form-group ">
	                    <div class="pull-left signIn">
	                      <button type="submit" class="btn btn-primary" ng-model="signin" ng-click="signin()">Sign in</button>
	                    </div>
	                    <div class="form-group ">
	                    <div class="pull-left register">
	                      <button type="submit" class="btn btn-primary" ng-model="register" ng-click="register()">Register</button>
	                    </div>
	                  </div>
              </form>
        </div>
	</div>
 </form>	
 </body>
 
</html>