<!DOCTYPE html>
<html>
  <head>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <div>
	       <% for(var i in data) 
	            {                     
            %>
           		    <p><strong>EmailId: </strong><%= data[i].firstname %></p>
            		<br>       
           <% 
	            }  
	       %>
	</div>
  </body>
</html>