<div id="cover">
<img src="stylesheets/wood.jpg">
<div id="profile_card">
<div class="row">
<div class="col-xs-2">
<div class="cover.bg">
<a href="#" class="thumbnail">
      <img src="stylesheets/avatar.jpg">
 </a>
 </div> 
 </div>
<div class="col-xs-2" >
    <div class="handlebar">
<span class="handlespan">kunaahuj_7</span>
</div>
<div class="editbutton">
<button type="submit" class="btn btn-primary " style="min-width: 120px">Update Profile</button>
</div>
  </div>
</div>
</div>
</div>

<div class="row">
<body bgcolor="40,61,75">
<div class="col-xs-4 "></div>

<div class="col-xs-4 customformdiv">
<form>
  <div class="form-group customform1">
    <label for="fistname">First Name</label>
    <input type="firstname" class="form-control text-center" id="firstname">
  </div>
  <div class="form-group customform1">
    <label for="lastname">Last Name</label>
    <input type="lastname" class="form-control text-center" id="lastname">
  </div>
  <div class="form-group customform1">
    <label for="userid">User Id</label>
    <input type="userid" class="form-control text-center" id="userid">
  </div>
  <div class="form-group customform1">
    <label for="date">Birthday</label>
    <input type="date" class="form-control text-center" id="date">
  </div>
  <div class="form-group customform1">
    <label for="contact">Contact</label>
    <input type="contact" class="form-control text-center" id="contact">
  </div>
  <div class="form-group customform1">
    <label for="locn">Location</label>
    <input type="locn" class="form-control text-center" id="locn">
  </div>
 <div style="margin-left: 150px">
<button type="submit" class="btn btn-primary">Update Profile</button>
</div>
</form>

</div>
<div class="col-xs-4"></div>
</body>
</div>